.fth-img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
}

.fth-liner {
    width: 100%;
    height: 2px;
    background: white;
}


.fth-btn {
    background: transparent;
    border: 2px solid $primary-color;
    box-shadow: none;
    color: $primary-color;
    font-weight: bold;
    &:hover {
        background: $primary-color;
        text-transform: uppercase;
        color: #fff;
    }
}