//COLORS
$primary-color: rgb(50, 67, 100);
$primary-color-transparent: rgba(50, 67, 100, 0.95);

$second-color: rgb(45, 88, 122);

$primary-golden: rgb(215, 197, 171);

$white-transparent: rgba(255, 255, 255, 0.8);
$light-grey: rgb(171, 171, 171);