@media screen and (max-width: 2560px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 100%;
    }
    .fth-header {
        height: 95vh;
        .call_us {
            float: none !important;
            height: 50px;
            padding: 0 10px 0;
            width: 100%;
            text-align: center;
        }
        .pancart {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    main {
        padding-top: 50px;
    }
}
@media screen and (max-width: 425px) {
    .pancart {
        width: 100%;
        height: 100px;
        padding: 0;
        position: absolute;
        bottom: 0;
        h4, p, div {
            opacity: 0;
        }
        a {
            width: 60%;
            top: 30%;
        }
    }
}