.announcement-title {
    text-transform: uppercase;
}
.announcement-description {
    color: $primary-golden;
}
.announcement-content {
    color: $light-grey;
}

main {
    padding: 250px 0;
    .fth-main-title {
        text-align: center;
        font-weight: bold;
        color: $primary-color;
        margin: 30px 0;
    }
    .announcement {
        height: auto;
        margin: 60px 0;
        .announcement-card {
            margin-bottom: 100px;
            width: 100%;
            a {
                margin-top: 30px;
                width: 70%;
            }
        }
    }
}

