.fth-header {
    width: 100%;
    height: 680px;

    position: relative;
    .call_us {
        width: 230px;
        p {
            height: 100%;
            display: inline-block;

        }
    }
    .pancart {
        .pancart-title {
            font-weight: bold;
            margin-bottom: 40px;
            font-size: 30px;
        }
        .pancart-content {
            margin-bottom: 40px;
        }
        .fth-liner {
        }
        .pancart-price {
            margin: 25px;
            text-align: center;
        }
        .fth-btn {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translate3d(-50%, 0px, 0px);
            text-align: center;
            border: 2px solid white;
            color: white;
            &:hover {
                color: $primary-color;
                background: $white-transparent;
                border: 2px solid $white-transparent;
            }
        }
    }
}
.fth-card {
    padding: 10px;
    background: $primary-color;
    color: white;
}
.pancart {
    width: 350px;
    height: 550px;
    padding: 30px 25px 30px;
    position: relative;
    bottom: -270px;
    background: $primary-color-transparent;
}