nav {
    box-shadow: none;
    .nav-wrapper {
        a {
            color: black;
            &:focus {
                color: $primary-golden;
            }
            &:hover {
                color: $second-color;
                background: transparent;
            }
        }
        .active {
            background: transparent;
            a {
                color: $primary-golden;
            }
        }
        ul {
            li {
                width: 150px;
                height: 100%;
                text-align: center;
            }
        }
    }
}