.fth-img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px; }

.fth-liner {
  width: 100%;
  height: 2px;
  background: white; }

.fth-btn {
  background: transparent;
  border: 2px solid #324364;
  box-shadow: none;
  color: #324364;
  font-weight: bold; }
  .fth-btn:hover {
    background: #324364;
    text-transform: uppercase;
    color: #fff; }

nav {
  box-shadow: none; }
  nav .nav-wrapper a {
    color: black; }
    nav .nav-wrapper a:focus {
      color: #d7c5ab; }
    nav .nav-wrapper a:hover {
      color: #2d587a;
      background: transparent; }
  nav .nav-wrapper .active {
    background: transparent; }
    nav .nav-wrapper .active a {
      color: #d7c5ab; }
  nav .nav-wrapper ul li {
    width: 150px;
    height: 100%;
    text-align: center; }

.fth-header {
  width: 100%;
  height: 680px;
  position: relative; }
  .fth-header .call_us {
    width: 230px; }
    .fth-header .call_us p {
      height: 100%;
      display: inline-block; }
  .fth-header .pancart .pancart-title {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 30px; }
  .fth-header .pancart .pancart-content {
    margin-bottom: 40px; }
  .fth-header .pancart .pancart-price {
    margin: 25px;
    text-align: center; }
  .fth-header .pancart .fth-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate3d(-50%, 0px, 0px);
    text-align: center;
    border: 2px solid white;
    color: white; }
    .fth-header .pancart .fth-btn:hover {
      color: #324364;
      background: rgba(255, 255, 255, 0.8);
      border: 2px solid rgba(255, 255, 255, 0.8); }

.fth-card {
  padding: 10px;
  background: #324364;
  color: white; }

.pancart {
  width: 350px;
  height: 550px;
  padding: 30px 25px 30px;
  position: relative;
  bottom: -270px;
  background: rgba(50, 67, 100, 0.95); }

.announcement-title {
  text-transform: uppercase; }

.announcement-description {
  color: #d7c5ab; }

.announcement-content {
  color: #ababab; }

main {
  padding: 250px 0; }
  main .fth-main-title {
    text-align: center;
    font-weight: bold;
    color: #324364;
    margin: 30px 0; }
  main .announcement {
    height: auto;
    margin: 60px 0; }
    main .announcement .announcement-card {
      margin-bottom: 100px;
      width: 100%; }
      main .announcement .announcement-card a {
        margin-top: 30px;
        width: 70%; }

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%; }

  .fth-header {
    height: 95vh; }
    .fth-header .call_us {
      float: none !important;
      height: 50px;
      padding: 0 10px 0;
      width: 100%;
      text-align: center; }
    .fth-header .pancart {
      position: absolute;
      left: 0;
      bottom: 0; }

  main {
    padding-top: 50px; } }
@media screen and (max-width: 425px) {
  .pancart {
    width: 100%;
    height: 100px;
    padding: 0;
    position: absolute;
    bottom: 0; }
    .pancart h4, .pancart p, .pancart div {
      opacity: 0; }
    .pancart a {
      width: 60%;
      top: 30%; } }

/*# sourceMappingURL=fth.css.map */
